In [1]:
import requests

In [3]:
resp = requests.get('https://github.com/investigacion/divisiones-territoriales-data/raw/master/data/json/adm2-cantones.json')

In [8]:
import pandas as pd

In [11]:
data = pd.DataFrame(resp.json().values())

In [18]:
data

   Provincia        Nombre Área (km2) Pop. (2008)
0          1      San José      44.62      352366
1          1        Escazú      34.49       60201
2          1  Desamparados     118.26      221346
3          1      Puriscal     553.66       32767
4          1       Tarrazú      297.5       16419
..       ...           ...        ...         ...
76         7        Pococí    2403.49      121735
77         7     Siquirres     860.19       60881
78         7     Talamanca    2809.93       32158
79         7        Matina     772.64       39961
80         7       Guácimo     576.48       41082

[81 rows x 4 columns]

In [10]:
import geopandas as gpd

In [14]:
geo = gpd.read_file('./datos/cr/cantones.geojson')

In [22]:
c1 = set(geo['NAME_2'].values)

In [23]:
c2 = set(data['Nombre'].values)

In [24]:
c1.difference(c2)

{'Aguirre', 'Alfaro Ruiz', 'León Cortés', 'Vásquez de Coronado'}

In [25]:
c2.difference(c1)

{'León Cortés Castro', 'Quepos', 'Vázquez de Coronado', 'Zarcero'}

In [28]:
len(c1)

81

In [29]:
len(c2)

81

In [26]:
c1

{'Abangares',
 'Acosta',
 'Aguirre',
 'Alajuela',
 'Alajuelita',
 'Alfaro Ruiz',
 'Alvarado',
 'Aserrí',
 'Atenas',
 'Bagaces',
 'Barva',
 'Belén',
 'Buenos Aires',
 'Carrillo',
 'Cartago',
 'Cañas',
 'Corredores',
 'Coto Brus',
 'Curridabat',
 'Desamparados',
 'Dota',
 'El Guarco',
 'Escazú',
 'Esparza',
 'Flores',
 'Garabito',
 'Goicoechea',
 'Golfito',
 'Grecia',
 'Guatuso',
 'Guácimo',
 'Heredia',
 'Hojancha',
 'Jiménez',
 'La Cruz',
 'La Unión',
 'León Cortés',
 'Liberia',
 'Limón',
 'Los Chiles',
 'Matina',
 'Montes de Oca',
 'Montes de Oro',
 'Mora',
 'Moravia',
 'Nandayure',
 'Naranjo',
 'Nicoya',
 'Oreamuno',
 'Orotina',
 'Osa',
 'Palmares',
 'Paraíso',
 'Parrita',
 'Pococí',
 'Poás',
 'Puntarenas',
 'Puriscal',
 'Pérez Zeledón',
 'San Carlos',
 'San Isidro',
 'San José',
 'San Mateo',
 'San Pablo',
 'San Rafael',
 'San Ramón',
 'Santa Ana',
 'Santa Bárbara',
 'Santa Cruz',
 'Santo Domingo',
 'Sarapiquí',
 'Siquirres',
 'Talamanca',
 'Tarrazú',
 'Tibás',
 'Tilarán',
 'Turrialba',
 'Turrubares',
 'Upala',
 'Valverde Vega',
 'Vásquez de Coronado'}

In [27]:
c2

{'Abangares',
 'Acosta',
 'Alajuela',
 'Alajuelita',
 'Alvarado',
 'Aserrí',
 'Atenas',
 'Bagaces',
 'Barva',
 'Belén',
 'Buenos Aires',
 'Carrillo',
 'Cartago',
 'Cañas',
 'Corredores',
 'Coto Brus',
 'Curridabat',
 'Desamparados',
 'Dota',
 'El Guarco',
 'Escazú',
 'Esparza',
 'Flores',
 'Garabito',
 'Goicoechea',
 'Golfito',
 'Grecia',
 'Guatuso',
 'Guácimo',
 'Heredia',
 'Hojancha',
 'Jiménez',
 'La Cruz',
 'La Unión',
 'León Cortés Castro',
 'Liberia',
 'Limón',
 'Los Chiles',
 'Matina',
 'Montes de Oca',
 'Montes de Oro',
 'Mora',
 'Moravia',
 'Nandayure',
 'Naranjo',
 'Nicoya',
 'Oreamuno',
 'Orotina',
 'Osa',
 'Palmares',
 'Paraíso',
 'Parrita',
 'Pococí',
 'Poás',
 'Puntarenas',
 'Puriscal',
 'Pérez Zeledón',
 'Quepos',
 'San Carlos',
 'San Isidro',
 'San José',
 'San Mateo',
 'San Pablo',
 'San Rafael',
 'San Ramón',
 'Santa Ana',
 'Santa Bárbara',
 'Santa Cruz',
 'Santo Domingo',
 'Sarapiquí',
 'Siquirres',
 'Talamanca',
 'Tarrazú',
 'Tibás',
 'Tilarán',
 'Turrialba',
 'Turrubares',
 'Upala',
 'Valverde Vega',
 'Vázquez de Coronado',
 'Zarcero'}

In [38]:
pd.read_csv('./datos/world/country_data.csv', sep=';').Year.unique()

array([1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004, 2008, 2012])

In [42]:
pd.read_csv('./datos/world/country_data.csv', sep=';').query('Year==2008').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 905 to 2958
Data columns (total 43 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Year                                              186 non-null    int64
 1   Country                                           186 non-null    object
 2   Region                                            186 non-null    object
 3   Continent                                         186 non-null    object
 4   Leap Year                                         186 non-null    object
 5   Region-Geo                                        186 non-null    object
 6   ChildrenPerWoman                                  186 non-null    object
 7   CO2Emissions                                      174 non-null    object
 8   DemocracyScore                                    151 non-null    float64
 9   IncomePerPerson                                   179 non-null    object
 10  Incomeshareofpoorest10pct                         0 non-null      object
 11  Incomeshareofrichest10pct                         0 non-null      object
 12  Infantmortality                                   166 non-null    object
 13  Inflation                                         164 non-null    object
 14  Internetusers                                     171 non-null    object
 15  LifeExpectancy                                    185 non-null    object
 16  Literacyrateadulttotal                            26 non-null     object
 17  Literacyrateyouthtotal                            26 non-null     object
 18  Longtermunemploymentrate                          0 non-null      object
 19  Medianage                                         0 non-null      object
 20  MedicalDoctors                                    48 non-null     object
 21  Murder                                            0 non-null      object
 22  Murderedmen                                       0 non-null      object
 23  Murderedwomen                                     0 non-null      object
 24  Número de registros                               186 non-null    int64
 25  Oilconsumptionperperson                           62 non-null     object
 26  Populationdensity                                 178 non-null    object
 27  Populationgrowth                                  173 non-null    object
 28  Populationtotal                                   186 non-null    int64
 29  Poverty                                           41 non-null     object
 30  Ratioofgirlstoboysinprimaryandsecondaryeducation  124 non-null    object
 31  Renewablewater                                    0 non-null      object
 32  Residentialelectricityuseperperson                123 non-null    object
 33  Suicideage15to29                                  21 non-null     object
 34  Taxrevenue                                        105 non-null    object
 35  Teenfertilityrate                                 177 non-null    object
 36  TotalGDPUS                                        162 non-null    object
 37  TotalhealthspendingperpersonUS                    160 non-null    object
 38  Tradebalance                                      156 non-null    object
 39  Trafficdeaths                                     0 non-null      object
 40  Urbanpopulationgrowth                             173 non-null    object
 41  UrbanpopulationTotal                              173 non-null    object
 42  YearlyCO2emission                                 174 non-null    object
dtypes: float64(1), int64(3), object(39)
memory usage: 63.9+ KB

In [49]:
data = pd.read_csv('./datos/world/lisa_charlotte_rost_one_chart.csv')

In [44]:
import geopandas as gpd

In [46]:
geo = gpd.read_file('./datos/world/countries.geojson')

In [47]:
geo

,ADMIN,ISO_A3,ISO_A2,geometry
0,Aruba,ABW,AW,"MULTIPOLYGON (((-69.99694 12.57758, -69.93639 ..."
1,Afghanistan,AFG,AF,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38..."
2,Angola,AGO,AO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -..."
3,Anguilla,AIA,AI,"MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ..."
4,Albania,ALB,AL,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42..."
...,...,...,...,...
250,Samoa,WSM,WS,"MULTIPOLYGON (((-171.57002 -13.93816, -171.564..."
251,Yemen,YEM,YE,"MULTIPOLYGON (((53.30824 12.11839, 53.31027 12..."
252,South Africa,ZAF,ZA,"MULTIPOLYGON (((37.86378 -46.94085, 37.83644 -..."
253,Zambia,ZMB,ZM,"MULTIPOLYGON (((31.11984 -8.61663, 31.14102 -8..."
254,Zimbabwe,ZWE,ZW,"MULTIPOLYGON (((30.01065 -15.64623, 30.05024 -..."

In [57]:
len(c2)

187

In [56]:
len(c1)

255

In [48]:
c1=set(geo['ADMIN'].values)

In [50]:
c2=set(data['country'].values)

In [54]:
c2.difference(c1)

set()

In [53]:
c1.difference(c2)

{'Akrotiri Sovereign Base Area',
 'Aland',
 'American Samoa',
 'Anguilla',
 'Antarctica',
 'Aruba',
 'Ashmore and Cartier Islands',
 'Bajo Nuevo Bank (Petrel Is.)',
 'Baykonur Cosmodrome',
 'Bermuda',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'Cayman Islands',
 'Clipperton Island',
 'Cook Islands',
 'Coral Sea Islands',
 'Curaçao',
 'Cyprus No Mans Area',
 'Dhekelia Sovereign Base Area',
 'Falkland Islands',
 'Faroe Islands',
 'French Polynesia',
 'French Southern and Antarctic Lands',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Guernsey',
 'Heard Island and McDonald Islands',
 'Hong Kong S.A.R.',
 'Indian Ocean Territories',
 'Isle of Man',
 'Jersey',
 'Kosovo',
 'Liechtenstein',
 'Macao S.A.R',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'Norfolk Island',
 'Northern Cyprus',
 'Northern Mariana Islands',
 'Palau',
 'Pitcairn Islands',
 'Puerto Rico',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'San Marino',
 'Scarborough Reef',
 'Serranilla Bank',
 'Siachen Glacier',
 'Sint Maarten',
 'Somaliland',
 'South Georgia and South Sandwich Islands',
 'Spratly Islands',
 'Taiwan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'US Naval Base Guantanamo Bay',
 'United States Minor Outlying Islands',
 'United States Virgin Islands',
 'Vatican',
 'Wallis and Futuna',
 'Western Sahara'}